* {
  box-sizing: border-box;
}
body {

  background: #2c2c2c;
}
.Rectangle-main{
  margin: 0 auto;
  width: 375px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.main-nav{
  width: 375px;
  height: 70px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.Bitmap1 {
  width: 94px;
  height: 27px;
  object-fit: contain;
}
//STORY
.story {
  width: 375px;
  height: 457px;
  border-radius: 5px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
margin-bottom:16px;
}
//NAME & LOCATION
.top {
  display: flex;
}
.Avatar {
  width: 38px;
  height: 38px;
  margin: 8px 12px 8px 23px;
}
.Avatar > img{
  width: 100%;
  height: 100%;
  border-radius: 100%; 
}
.story-nickname {
  margin-top:10px;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #2c2c2c;
}
.story-location {
  font-family: AppleSDGothicNeo;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
}

//IMAGE
article > img {
  margin: 0 7px;
  width: 361px;
  height: 240px;
}
// .image-bottom{
//   width: 100%;
//   // height: 300px;
//   background-color:black;
// }




// 본문 내용및 태그
//LIKE & COMMENTS 
.content-form {
  margin-left: 23px;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
}
.like,
.comments {
  width: 16px;
  height: 14px;
  object-fit: contain;
  // margin-top: 12px;
  // margin-bottom: 11px;
}
.like {
  margin-right: 16px;
}

.content-name {
  width: 329px;
  height: 22px;
  color: #2c2c2c;
}
.content {
  color: #aaaaaa;
  margin-bottom: 4px;
}
.content-tag{
  color: #6e8f9c;
  margin-bottom:4px;
}
.content-comments{
  color:#aaaaaa;
}

//FOOTER

.fixed {
  width: 375px;
  height: 50px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 -1px 0 0 #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: center;
  bottom: 0;
  padding: 0;
  display:flex;
  text-align: center;
}
button{
  background-color: transparent;
  padding: 0;
  border: 0;
}
.fixed > button {
  // background-color: transparent;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
}
.home {
  margin-left: 28px;
}
.home,
.search,
.photo,
.activity {
  margin-right: 55px;
}
.profile {
  margin-right: 27px;
}
.fixed > button > img {
  width: 20px;
  height: 20px;
}
