* {
  box-sizing: border-box;
}
.body {
  text-align: center;
  background: #2c2c2c;
}
.Rectangle-main {
  margin: 0 auto;
  width: 375px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
//NAV
.reply-nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 375px;
  height: 64px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px #ececec;
  background-color: #ffffff;
}
.reply-nav-text {
  margin: 0 auto;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -0.3px;
  color: #030303;
  padding-right: 15px;
}
.reply-nav-bar > button {
  display: flex;
  padding-left: 15px;
}
.reply-nav-bar > button > img {
  width: 8px;
  height: 14px;
  object-fit: contain;
}

//본문
.search-back {
  margin-top: 64px;
  width: 375px;
  height: 900px;
  background-color: #f6f6f6;
}
//댓글
.reply-tags {
  display: flex;
  width: 375px;
  border-bottom: solid 1px #ebebeb;
  padding: 11px 16px 16px 16px;
}
.Oval {
  width: 38px;
  height: 38px;
  background-color: #e0e0e0;
  border-radius: 100%;
}
.Oval > img{
  width:100%;
  height: 100%;
  border-radius: 100%;
}
.reply-box {
  width: 321px;
  border-bottom: solid 1px #ebebeb;
}
.reply-text {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 16px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
}
.reply-post {
  font-family: AppleSDGothicNeo;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #aaaaaa;
  margin-left: 16px;
  margin-bottom: 14px;
}
  //댓글의 댓글 대댓글 
.re-reply-tags {
  display: flex;
  width: 375px;
  border-bottom: solid 1px #ebebeb;
  padding: 11px 16px 16px 70px;
}
   //텍스트 전송및 키보드 사진
.lower-fixed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 375px;
  height: 268px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 -1px 0 0 #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: center;
  bottom: 0;
  padding: 0;
}
.Bar-input {
  width: 375px;
  height: 50px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px #ececec;
  background-color: #ffffff;
}

.Send {
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.3px;
  text-align: center;
  color: #4a90e2;
}
.Rectangle-input {
  width: 298px;
  height: 36px;
  border-radius: 19px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin: 7px 16px 7px 16px;
}

input {
  box-sizing: border-box;
}
.Bar-input > input {
  margin-bottom: 16px;
  padding: 13px 0 11px 16px;
  &::placeholder {
    width: 30px;
    height: 16px;
    font-family: AppleSDGothicNeo;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: -0.3px;
    text-align: left;
    color: #aaaaaa;
  }
}