.page-template {
    margin: 5rem auto 0 auto;
    width: 500px;
    background: white;
    //그림자
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0 , 0.23);
    padding-top: 2rem;
    
    //웹 브라우저 크기가 768px 미만일떄
    @media(max-width:  768px) {
        margin-top: 1rem;
        width:calc(100% - 2rem); // 양옆 1rem씩 여백을 제외하고 가득채운다
    }
    h1 {
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        margin: 0;
    }
    .content {
        margin-top: 2rem;
    }
}