* {
  box-sizing: border-box;
}
.body {
  text-align: center;
  background: #2c2c2c;
}
.Rectangle-main {
  margin: 0 auto;
  width: 375px;
  height: 800px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

// NAV
.profile-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 375px;
  height: 64px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: solid 1px #ececec;
  background-color: #ffffff;
}

.profile-nav-text {
  margin-left: auto;
  margin-right: -36px;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -0.3px;
  color: #030303;
}
.profile-nav-bar > button {
  display: flex;
}
.profile-btn {
  padding-left: 15px;
}
.profile-complete-btn {
  margin-left: auto;
  margin-right: 18px;
  width: 34px;
  height: 18px;
  font-family: AppleSDGothicNeo;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -0.3px;
  text-align: center;
  color: #4a90e2;
}

//이미지 업로드
.profile-image {
  margin: 16px auto;
  width: 38px;
  height: 38px;
  border: solid 1px #e0e0e0;
  border-radius: 100%;
  background-color: #ffffff;
}
.profile-image > img{
  width: 100%;
  height: 100%;
  border-radius: 100%; 
}
.upload-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 161px;
  height: 38px;
  border-radius: 6px;
  border: solid 1px #4a90e2;
  background-color: #ffffff;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.3px;
  text-align: center;
  color: #4a90e2;
}
.upload-profile > input{
  display: none;
}
.add-image {
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 351px;
  height: 38px;
  border-radius: 6px;
  background-color: #6e8f9c;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
}
.push-image {
  display: flex;
}
.image-content {
  display: flex;
}
.xmark {
  position: relative;
  margin-left: 5px;
  width: 13px;
  height: 13px;
  object-fit: contain;
}
.added-image {
  display: flex;
  width: 60px;
  height: 60px;
  border: solid 1px #e0e0e0;
  margin: 0 0 16px 12px;
}
.added-image > img {
  width: 60px;
  height: 60px;
}
.upload-input {
  margin-bottom: 16px;
  padding: 13px 0 131px 16px;
  width: 351px;
  height: 160px;
  border-radius: 6px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
}
.upload-inputs > input::placeholder {
  width: 30px;
  height: 16px;
  font-family: AppleSDGothic Neo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.3px;
  text-align: left;
  color: #aaaaaa;
}
.upload-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// FOOTER
.fixed {
  width: 375px;
  height: 50px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 -1px 0 0 #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: center;
  bottom: 0;
  padding: 0;
  display: flex;
  text-align: center;
}
button {
  background-color: transparent;
  padding: 0;
  border: 0;
}
.fixed > button {
  background-color: transparent;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
}
.home {
  margin-left: 28px;
}
.home,
.search,
.photo,
.activity {
  margin-right: 55px;
}
.profile {
  margin-right: 27px;
}
.fixed > button > img {
  width: 20px;
  height: 20px;
}
