@import './styles/utils.scss';

.box {
  display : inline-block;
  width: $size;
  height: $size;
  border: 1px solid black;
  position: fixed;
  @include plcae-at-center();
  &.blue {
    background: blue;
  }
  &:hover {
    background: yellow;
  }

  &:active {
    background: red;
  }

}

// .box .box-inside {}는
// 와 같다
//.box { .box-inside { } }