* {
    box-sizing: border-box;
  }
  .body {
    text-align: center;
    background: #2c2c2c;
    
  }
  .Rectangle-main{
    margin: 0 auto;
    width: 375px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  }
  
  //NAV
  .search-nav {
    display: flex;
    position: fixed;
    top:0;
    width: 375px;
    height: 64px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: solid 1px #ececec;
    background-color: #ffffff;
  }
  .search-input {
    width: 292px;
    height: 26px;
    border: solid 0.1px #aaaaaa;
    border-radius: 100px;
    background-color: #eaeaea;
    margin:26px 0 0 8px;
  }
  input {
    box-sizing: border-box;
  }
  .search-nav > input {
    margin-bottom: 16px;
    padding: 13px 0 11px 16px;
    &::placeholder {
      width: 30px;
      height: 16px;
      font-family: AppleSDGothicNeo;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: -0.3px;
      text-align: left;
      color: #aaaaaa;
    }
  }
  .Cancel {
    margin:32px 16px 16px 16px;
    width: 43px;
    height: 16px;
    font-family: AppleSDGothicNeo;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.3px;
    color: #030303;
  }
  //본문
  .search-back{
      margin-top:64px;
      height: 900px;
      width:375px;
      background-color:#f6f6f6;
  } 

  //태그 

  .tags {
    display: flex;
    align-items: center;
    width: 359px;
    height: 46px;
    margin:11px 0 11px 16px;
  }

  .tag-line{
    width: 321px;
    border-bottom: solid 1px #ebebeb;
  }
  .tag-img{
        width: 13px;
        height: 17px;
        object-fit: contain;
  }
  .tag-text{
        font-family: AppleSDGothicNeo;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin-left:25px;
        display: flex;
        flex-direction: column;
  }
  .tag-post{
    font-family: AppleSDGothicNeo;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #aaaaaa;
    margin-left:25px;
    margin-bottom:14px;
  }
  
  //FOOTER
.fixed {
  width: 375px;
  height: 50px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 -1px 0 0 #e0e0e0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: center;
  bottom: 0;
  padding: 0;
  display:flex;
  text-align: center;
}
button{
  background-color: transparent;
  padding: 0;
  border: 0;
}
.fixed > button {
  background-color: transparent;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
}
.home {
  margin-left: 28px;
}
.home,
.search,
.photo,
.activity {
  margin-right: 55px;
}
.profile {
  margin-right: 27px;
}
.fixed > button > img {
  width: 20px;
  height: 20px;
}
  