* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.back {
  background: #2c2c2c;
}
.Rectangle {
  margin: 0 auto;
  width: 375px;
  height: 667px;
  background-color: #ffffff;
}
.Bitmap {
  width: 94px;
  height: 27px;
  object-fit: contain;
  margin: 136px 140px 236px 141px;
}

.Rect {
  width: 247px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #aaaaaa;
  background-color: #ffffff;
}

input {
  box-sizing: border-box;
  padding: 13px 0 11px 16px;
}
input::placeholder {
  width: 30px;
  height: 16px;
  font-family: AppleSDGothicNeo;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.3px;
  text-align: left;
  color: #aaaaaa;
}
.margin {
  margin: 0 64px 108px 64px;
}
